<!-- Notification alert for success and error messages -->
{{#if successMessage}}
  <div id="successAlert" class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4" role="alert">{{successMessage}}</div>
{{/if}}
{{#if errorMessage}}
  <div id="errorAlert" class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4" role="alert">{{errorMessage}}</div>
{{/if}}

