<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h2>Profile</h2>
    {{#if user}}
      <div>
        <h2>Welcome, {{user.name}}!</h2>
        <p><strong>User:</strong> {{user.id}}</p>
        <p><strong>Role:</strong> {{user.role_id}}</p>
        <a href="/logout">Log out</a>
      </div>
    {{/if}}

  </body>
</html>