<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h2>Profile</h2>
     {{#if user}}
            <div class="profile-info">
                <h2>Welcome, {{user.name}}!</h2>
                <p><strong>User ID:</strong> {{user.id}}</p>
                <p><strong>Role ID:</strong> {{user.role_id}}</p>
            </div>
    {{/if}}
    <a href="/logout">Log out</a>
    
</body>
</html>