<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
    <title>{{title}}</title>
     
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
     

    <div class="bg-white p-8 rounded shadow-md w-96 mx-auto">
      {{#if errorMessage}}
        <div
          class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4"
          role="alert"
        >{{errorMessage}}</div>
      {{/if}}
      <h2 class="text-2xl font-semibold mb-6 text-center">Sign up</h2>

      <form action="/register"   method="POST">
        <div class="mb-4">
          <input
            type="text"
            name="name"
            placeholder="Name"
            required
            class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
          />
        </div>

        <div class="mb-6">
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:border-blue-500"
          />
        </div>

        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full"
        >
          Sign up
        </button>
         

      </form>
    </div>

  </body>
</html>